<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309786538563-af02hkaehu5ededd8v8v5meso8ucft8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309786538563-af02hkaehu5ededd8v8v5meso8ucft8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBiTl0OYWTnhfDquXhbRj2V3yOkP34ftI4</string>
	<key>GCM_SENDER_ID</key>
	<string>309786538563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a9274</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a9274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309786538563:ios:f00f94980173724e1a1af6</string>
</dict>
</plist>